# fly.toml app configuration file generated for vim-racing-backend on 2025-11-29T13:43:53-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'vim-racing-backend'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[env]
  BACKEND_PORT = '8080'
  NODE_ENV = 'production'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 800

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
